# Ignore all files in the root directory
*
# Include the src directory
!src/
# Include the pom.xml:
!pom.xml
# Include mvn:
!mvnw
!.mvn/wrapper/maven-wrapper.properties
# Exclude the target directory and its contents
target/
